# pnpm 配置

# 默认 false

# false：node_modules下只能看到直接依赖的套件，次级依赖在 node_modules/.pnpm 目录下
# true：將所有套件都拉升到 node_modules 目錄下

# false: 无法访问其他子包局部安装的依赖项，例如，vue-dome2安装的lodash，vue-dome1是访问不到的
# true：能访问到其他子包局部安装的依赖项，例如，vue-dome2安装的lodash，vue-dome1是能访问到的
shamefully-hoist=false